In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

1. Which movies and shows on Netflix ranked in the top 10 and bottom 10 based on their IMDB scores?

In [2]:
var = pd.read_csv("C:\\Users\\tanis\\Downloads\\titles.csv")

In [20]:
# bottom 10 movie 
var2 = var[var['type'] == 'MOVIE'].sort_values('imdb_score').head(10)[['title','imdb_score']]

In [21]:
var2

                                 title  imdb_score
1633                           Aerials         1.5
3623  Me Against You: Mr. S's Vendetta         1.6
1091                        Himmatwala         1.7
1577              Kyaa Kool Hain Hum 3         1.9
1695       Hajwala: The Missing Engine         2.0
748                  FRED 3: Camp Fred         2.0
19                             Dostana         2.1
5766                     Time to Dance         2.2
2944                      B. A. Pass 2         2.2
5797         Myriam Fares: The Journey         2.3

In [22]:
# bottom 10 show
var2 = var[var['type'] == 'SHOW'].sort_values('imdb_score').head(10)[['title','imdb_score']]
var2

                                  title  imdb_score
5298  Thomas & Friends: All Engines Go!         2.0
5695                     He's Expecting         2.0
5320                         Hype House         2.1
2838                  A House of Blocks         2.3
3598                         Until Dawn         2.4
3642                       The Goop Lab         2.5
5760                         Byron Baes         2.6
4791                        First Class         2.8
2093                       Bonus Family         2.9
1406                        Richie Rich         3.0

In [24]:
# top 10 show
var2 = var[var['type'] == 'SHOW'].sort_values('imdb_score',ascending = False).head(10)[['title','imdb_score']]
var2

                           title  imdb_score
2658                    #ABtalks         9.6
216                 Breaking Bad         9.5
564                     Khawatir         9.5
233   Avatar: The Last Airbender         9.3
3147                  Our Planet         9.3
1258                  Reply 1988         9.2
3068              The Last Dance         9.1
3500                Kota Factory         9.1
1886                   My Mister         9.1
243                   DEATH NOTE         9.0

In [26]:
# top 10 movie
var2 = var[var['type'] == 'MOVIE'].sort_values('imdb_score',ascending = False).head(10)[['title','imdb_score']]
var2

                                         title  imdb_score
4771                                     Major         9.1
1092         Chhota Bheem & Krishna vs Zimbara         9.1
3271  David Attenborough: A Life on Our Planet         8.9
2547                         C/o Kancharapalem         8.9
237                                  Inception         8.8
97                                Forrest Gump         8.8
36                                  GoodFellas         8.7
1096                Chhota Bheem Neeli Pahaadi         8.7
435                                 Anbe Sivam         8.7
438                        A Lion in the House         8.7

2. How many movies and shows fall in each decade in Netflix's library?

In [6]:
var['hello'] = (var['release_year']//10)*10
var[var['type']== 'MOVIE'].groupby('hello')['type'].count()

hello
1950       5
1960       7
1970      17
1980      43
1990      98
2000     265
2010    2136
2020    1173
Name: type, dtype: int64

3. How did age-certifications impact the dataset?

In [10]:
# The age certification influence the average IMDB score 
var.groupby('age_certification')[['imdb_score','tmdb_score']].mean()

                   imdb_score  tmdb_score
age_certification
G                    6.371717    6.581327
NC-17                6.146667    6.531250
PG                   6.228251    6.586208
PG-13                6.425747    6.602070
R                    6.292642    6.490763
TV-14                7.216100    7.596768
TV-G                 6.333333    7.540273
TV-MA                7.021969    7.347805
TV-PG                6.917341    7.371576
TV-Y                 6.546939    7.876968
TV-Y7                6.836937    7.702098

In [13]:
var[var['type'] == 'MOVIE'].groupby('age_certification')['age_certification'].count()

age_certification
G        124
NC-17     16
PG       233
PG-13    451
R        556
Name: age_certification, dtype: int64

4. Which genres are the most common

In [21]:
hello = var[var['type'] == 'MOVIE'].groupby('genres')['genres'].count().sort_values(ascending = False).head(10)
hello

genres
['comedy']                        384
['documentation']                 230
['drama']                         224
['comedy', 'documentation']       100
['comedy', 'drama']                84
['drama', 'romance']               76
['drama', 'comedy']                65
['comedy', 'romance']              60
['romance', 'comedy']              48
['comedy', 'drama', 'romance']     44
Name: genres, dtype: int64

In [22]:
hello = var[var['type'] == 'SHOW'].groupby('genres')['genres'].count().sort_values(ascending = False).head(10)
hello

genres
['reality']                   113
['drama']                     104
['comedy']                    100
['documentation']              99
['comedy', 'drama']            51
['drama', 'romance']           48
['drama', 'comedy']            44
['documentation', 'crime']     35
['animation']                  30
['crime', 'documentation']     25
Name: genres, dtype: int64

In [23]:
hello = var.groupby('genres')['genres'].count().sort_values(ascending = False).head(3)
hello

genres
['comedy']           484
['documentation']    329
['drama']            328
Name: genres, dtype: int64